{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

Welcome to {{ room[1] }} {{ room[3] }}, <span id="username">{{ user }}</span>!

{% if (room[5] == user and room[3] != "archive") or room[3] == "chat" %}
    <form action="{{ url_for('delete_room', room_id=room[0]) }}" method="POST">
        {{ delete_room_form.hidden_tag() }}
        {{ delete_room_form.submit() }}
    </form>
{% endif %}

{% if room[3] == "group" and room[2] != "*all" and room[5] != user and can_write %}
    <form action="{{ url_for('leave_room', room_id=room[0]) }}" method="POST">
        {{ leave_room_form.hidden_tag() }}
        {{ leave_room_form.submit() }}
    </form>
{% endif %}

{% if join_room_form %}
    <form action="{{ url_for('join_room', room_id=room[0]) }}" method="POST">
        {{ join_room_form.hidden_tag() }}
        {{ join_room_form.submit() }}
    </form>
{% endif %}

<hr>

<div>
    {% if can_write %}
        <p>Write a message.</p>
        <textarea id="message_text"></textarea><br>
        <button id="send_message">Send</button>
    {% else %}
        <p>You can't write in this {{ room[3] }}.</p>
    {% endif %}
</div>

<hr>

{% if posts %}
    {% for post in posts %}
        <div class="post" id="post{{ post[0] }}">
            <strong>{{ post[1] }}</strong>
            <p>{{ post[2] }}</p>
<!--            <em>{{ post[3] }}</em>-->
            {% if admin or post[1] == user %}
                <button type="button" onclick="deletePost({{ post[0] }})">Delete post</button>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p id="no_posts">There is nothing in this chat yet.</p>
{% endif %}

<script>
    //init_data({{ {"data": room}|tojson }})
    const room = {{ {"data": room}|tojson }}.data
    const user = {{ {"data": user}|tojson }}.data
    const is_admin = {{ {"data": admin}|tojson }}.data
</script>
<script src="{{ url_for('static', filename='room.js') }}"></script>

{% endblock %}