{% extends 'base.html' %}

{% block title %}Title{% endblock %}

{% block content %}

Welcome to chat, <span id="username">{{ user.get_username() }}</span>!

<hr>

<div>
    <p>Write a message.</p>
    <textarea id="message_text"></textarea><br>
    <button id="send_message">Send</button>
</div>

<hr>

{% if posts %}
    {% for post in posts %}
        <div class="post">
            <strong>{{ post[1] }}</strong>
            <p>{{ post[2] }}</p>
<!--            <em>{{ post[3] }}</em>-->
        </div>
    {% endfor %}
{% else %}
    <p id="no_posts">There is nothing in this chat yet.</p>
{% endif %}

<script src="{{ url_for('static', filename='index_login.js') }}"></script>

{% endblock %}